#answer-profile-preview {
    width: 50px;
    max-width: 50px;
    padding: 0px;
}

#username-date-details {
    margin-top: 24px;
}

#name-badge-pill {
    font-size: 12px;
}

#answer-date {
    font-weight: 400;
    margin-left: 3px;
}