#question-profile-preview {
    width: 60px;
    max-width: 60px;
    padding: 0px;
}

#username-date-details {
    margin-top: 24px;
}

#name-badge-pill {
    font-size: 12px;
}

#question-date {
    font-size: 15px;
    font-weight: 400;
    /* margin-left: 3px; */
}